<div class="start layer">
    <div data-name="connectionDialog" class="dialogSmall horizontalVerticalCenter">
        <div class="signBackground layer">
            <div class="northWest"></div>
            <div class="northEast"></div>
            <div class="southEast"></div>
            <div class="southWest"></div>
            <div class="north"></div>
            <div class="south"></div>
            <div class="east"></div>
            <div class="west"></div>
            <div class="center"></div>
        </div>
        <div class="layer">
            <div class="horizontalVerticalCenter">
                <p data-name="status"></p>
            </div>
        </div>
    </div>
    <div data-name="signInDialog" class="signInDialog horizontalVerticalCenter">
        <div class="signBackground layer">
            <div class="crown horizontalCenter"></div>
            <div class="northWest"></div>
            <div class="northEast"></div>
            <div class="southEast"></div>
            <div class="southWest"></div>
            <div class="north"></div>
            <div class="south"></div>
            <div class="east"></div>
            <div class="west"></div>
            <div class="center"></div>
        </div>
        <div class="layer">
            <div class="horizontalVerticalCenter">
                <div class="logo"></div>
                <div class="textbox">
                    <div class="textboxBackground layer">
                        <div class="east"></div>
                        <div class="west"></div>
                        <div class="center"></div>
                    </div>
                    <div class="content">
                        <p class="layer">{{username}}</p>
                        <input data-name="username" type="text" class="layer" />
                    </div>
                </div>
                <div class="textbox">
                    <div class="textboxBackground layer">
                        <div class="east"></div>
                        <div class="west"></div>
                        <div class="center"></div>
                    </div>
                    <div class="content">
                        <p class="layer">{{password}}</p>
                        <input data-name="password" type="password" class="layer" />
                    </div>
                </div>
                <div class="floatLayout">
                    <div data-name="signIn" class="button">
                        <div class="buttonBackground layer">
                            <div class="east"></div>
                            <div class="west"></div>
                            <div class="center"></div>
                        </div>
                        <p class="layer">{{signIn}}</p>
                    </div>
                    <div data-name="newAccount" class="button">
                        <div class="buttonBackground layer">
                            <div class="east"></div>
                            <div class="west"></div>
                            <div class="center"></div>
                        </div>
                        <p class="layer">{{newAccount}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-name="newAccountDialog" class="newAccountDialog horizontalVerticalCenter">
        <div class="signBackground layer">
            <div class="northWest"></div>
            <div class="northEast"></div>
            <div class="southEast"></div>
            <div class="southWest"></div>
            <div class="north"></div>
            <div class="south"></div>
            <div class="east"></div>
            <div class="west"></div>
            <div class="center"></div>
        </div>
        <div class="layer">
            <div class="horizontalVerticalCenter">
                <div class="textbox">
                    <div class="textboxBackground layer">
                        <div class="east"></div>
                        <div class="west"></div>
                        <div class="center"></div>
                    </div>
                    <div class="content">
                        <p class="layer">{{username}}</p>
                        <input data-name="username" type="text" class="layer" />
                    </div>
                </div>
                <div class="textbox">
                    <div class="textboxBackground layer">
                        <div class="east"></div>
                        <div class="west"></div>
                        <div class="center"></div>
                    </div>
                    <div class="content">
                        <p class="layer">{{email}}</p>
                        <input data-name="email" type="text" class="layer" />
                    </div>
                </div>
                <div class="textbox">
                    <div class="textboxBackground layer">
                        <div class="east"></div>
                        <div class="west"></div>
                        <div class="center"></div>
                    </div>
                    <div class="content">
                        <p class="layer">{{repeatEmail}}</p>
                        <input data-name="emailRepeated" type="text" class="layer" />
                    </div>
                </div>
                <div class="textbox">
                    <div class="textboxBackground layer">
                        <div class="east"></div>
                        <div class="west"></div>
                        <div class="center"></div>
                    </div>
                    <div class="content">
                        <p class="layer">{{password}}</p>
                        <input data-name="password" type="password" class="layer" />
                    </div>
                </div>
                <div class="textbox">
                    <div class="textboxBackground layer">
                        <div class="east"></div>
                        <div class="west"></div>
                        <div class="center"></div>
                    </div>
                    <div class="content">
                        <p class="layer">{{repeatPassword}}</p>
                        <input data-name="passwordRepeated" type="password" class="layer" />
                    </div>
                </div>
                <div class="floatLayout">
                    <div data-name="create" class="button">
                        <div class="buttonBackground layer">
                            <div class="east"></div>
                            <div class="west"></div>
                            <div class="center"></div>
                        </div>
                        <p class="layer">{{create}}</p>
                    </div>
                    <div data-name="cancel" class="button">
                        <div class="buttonBackground layer">
                            <div class="east"></div>
                            <div class="west"></div>
                            <div class="center"></div>
                        </div>
                        <p class="layer">{{cancel}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-name="loadingDialog" class="loadingDialog">
        <div data-name="smoke"></div>
        <div data-name="train" class="train"></div>
        <div class="dialogSmall horizontalVerticalCenter">
            <div class="signBackground layer">
                <div class="northWest"></div>
                <div class="northEast"></div>
                <div class="southEast"></div>
                <div class="southWest"></div>
                <div class="north"></div>
                <div class="south"></div>
                <div class="east"></div>
                <div class="west"></div>
                <div class="center"></div>
            </div>
            <div class="layer">
                <div class="horizontalVerticalCenter">
                    <p data-name="message"></p>
                    <p data-name="percentageComplete" class="big"></p>
                </div>
            </div>
        </div>
    </div>
    <div data-name="loadingFailedDialog" class="loadingFailedDialog dialogSmall horizontalVerticalCenter">
        <div class="signBackground layer">
            <div class="northWest"></div>
            <div class="northEast"></div>
            <div class="southEast"></div>
            <div class="southWest"></div>
            <div class="north"></div>
            <div class="south"></div>
            <div class="east"></div>
            <div class="west"></div>
            <div class="center"></div>
        </div>
        <div class="layer">
            <div class="horizontalVerticalCenter">
                <p class="big">{{loadingFailedTitle}}</p>
                <p>{{loadingFailedMessage}}</p>
            </div>
        </div>
    </div>
</div>
