<div class="toolbar desktop">
    <div class="horizontalCenter emptyBorder floatLayout">
        <div data-name="zoomIn" title="{{zoomIn}}" class="button">
            <div class="iconZoomIn"></div>
        </div>
        <div data-name="zoomOut" title="{{zoomOut}}" class="button gapSmall">
            <div class="iconZoomOut"></div>
        </div>
        <div data-name="rotateClockwise" title="{{rotateClockwise}}" class="button gapSmall">
            <div class="iconRotateClockwise"></div>
        </div>
        <div data-name="rotateCounterclockwise" title="{{rotateCounterclockwise}}" class="button gapSmall">
            <div class="iconRotateCounterclockwise"></div>
        </div>
        <div data-name="terrainTool" title="{{terrainTool}}" class="button gapLarge">
            <div class="modes">
                <div data-name="smoothUp" title="{{smoothUp}}" class="calloutButton">
                    <div class="iconSmoothUp"></div>
                </div>
                <div data-name="roughUp" title="{{roughUp}}" class="calloutButton">
                    <div class="iconRoughUp"></div>
                </div>
                <div data-name="smoothDown" title="{{smoothDown}}" class="calloutButton">
                    <div class="iconSmoothDown"></div>
                </div>
                <div data-name="roughDown" title="{{roughDown}}" class="calloutButton">
                    <div class="iconRoughDown"></div>
                </div>
            </div>
            <div data-name="currentMode" class="layer">
                <div></div>
            </div>
            <div class="iconCalloutIndicator layer"></div>
        </div>
        <div data-name="trackTool" title="{{trackTool}}" class="button gapLarge">
            <div class="modes">
                <div data-name="build" title="{{build}}" class="calloutButton">
                    <div class="iconTrackBuild"></div>
                </div>
                <div data-name="demolish" title="{{demolish}}" class="calloutButton">
                    <div class="iconTrackDemolish"></div>
                </div>
            </div>
            <div data-name="currentMode" class="layer">
                <div></div>
            </div>
            <div class="iconCalloutIndicator layer"></div>
        </div>
        <div data-name="decorationTool" title="{{decorationTool}}" class="button gapLarge">
            <div class="modes">
                <div data-name="build" title="{{build}}" class="calloutButton">
                    <div class="iconDecorationBuild"></div>
                </div>
                <div data-name="demolish" title="{{demolish}}" class="calloutButton">
                    <div class="iconDecorationDemolish"></div>
                </div>
            </div>
            <div data-name="currentMode" class="layer">
                <div></div>
            </div>
            <div class="iconCalloutIndicator layer"></div>
        </div>
        <div data-name="fullScreen" title="{{fullScreen}}" class="button gapLarge">
            <div class="iconFullScreen"></div>
        </div>
    </div>
</div>
